<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762682585759-269ej4o2h1hkfhs283kf8aaa8sl7epsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762682585759-269ej4o2h1hkfhs283kf8aaa8sl7epsp</string>
	<key>API_KEY</key>
	<string>AIzaSyAMNTLzy88h43o7dq_PLiWkqne4eoJv5eI</string>
	<key>GCM_SENDER_ID</key>
	<string>762682585759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tri-Force.NewMleadsEnterprise</string>
	<key>PROJECT_ID</key>
	<string>mleadsenterpriseapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mleadsenterpriseapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762682585759:ios:e4d71bb6af967a05c3e8aa</string>
	<key>DATABASE_URL</key>
	<string>https://mleadsenterpriseapp.firebaseio.com</string>
</dict>
</plist>